# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Data & models
data/
checkpoints/
logs/
results/baseline/
results/finetuned/
*.pt
*.bin
*.safetensors

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Kaggle
/kaggle/working/tmp/
